.color-highlight{
    color: orange;
}
.half-width{
    width: 35%;
    float: left;
}
.half-width img{
    width: 55%;
}
p{
    color: dimgray;
    width: 30%;

}.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
#half-text{
    position: relative;
    left: 330px;
}
.top-banner{
    background-image: url(images/header-bg.png);
}
#half-photo{
    position: relative;
    left: 250px;
}
.second-banner{
    background-image: url(images/biography-bg.png);
}
#third-text{
    position: relative;
    top: 90px;
    right: 30px;
}
.work-photo{
    width: 30%;
    float: left;
}
.work-photo img{
    width: 30%;
    position: relative;
    top: 150px;
    right: 640px;
}